/* Global css */
 *{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
 }
 
/* Frist section  */
.frist-section{
    background-image: url(./image/webdesign.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 10rem 0;
    text-align: center;
    
}
.frist-section h2{
   font-size: 3rem; 
   margin: 10px 0;
   color: rgb(33, 42, 42);
}
.frist-section p{
    font-size: 1.5rem; 
    margin: 10px 0;
    color: rgb(25, 25, 26);
 }

.global-btn{
    font-size: 20px;
    height: 40px;
    width: 150px;
    background-image: linear-gradient(rgb(5, 5, 5), rgb(5, 5, 5));
    color: white;
    border-radius: 10px;
    background-color: aqua;
}
.global-section{
    padding: 3rem;
}
.global-heading{
    font-size: 50px;
    text-align: center;
    margin-bottom: 8px;
}
.global-head-p{
    color: #7B7B7B;
    text-align: center;
}
/* This is header  */
header{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

nav ul li{
    display: inline;
    margin-right: 15px;
}
/* About section  */

.about-main-div{
    display: flex;
    align-items: center;
    justify-content: centers;
    padding: 3rem;
}
.about-sub-div{
    width: 500px;
}
.about-sub-div h2{
    font-size: 33px;
}
.about-sub-div p{
    color: #7B7B7B;
    margin: 50px 0;
}
 
img{
    border-radius: 50%;
    width: 80%;
    height: auto;
}

/* service aria  */

.grid-crontainer{
    display: grid;
    grid-template-columns: auto auto auto;
}
.grid-single-item{
    padding: 50px;
    text-align: center;
}
.grid-single-item h2{
   margin: 15px 0;
}
.grid-single-item p{
  color: #7B7B7B;
}
.coustom-icon-size{
    font-size: 60px;
}
.work-single-img{
    width: 200px;
}
.testimonial-p{
    color: black !important;
    margin-top: 5px;
}

/* contact section  */
.contact-heading{
    font-size: 55px;
    text-align: center;
}
form{
    margin-left: 33rem;
    margin-top: 20px;

}

form input{
    width: 450px; 
    

}
.submit-btn{
   width: 150px;
   height: 35px;
   background-color: black;
   color: white; 
   margin-top: 10px;
}
textarea{
    width: 450px; 

}

/* this is footer  */
footer{
    background-color: black;
    color: white;
    height: 3rem;
    text-align: center;
}
footer p{
    padding-top: 15px;
}